<div class="container">
  <h2 class="text center font weight light">Manufacturers</h2>
  <p-table [value]="manuf" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manuf>
      <tr>
        <td>
          <a routerLink = "/manufacturers/{{manuf.manufacturer}}"> 
            {{manuf.manufacturer}}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>  
<br>