
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Bar Beer Drinker Plus!</h1>
      <p class="lead">Bar Page is Home Page</p>
    </div>
  </div>

  <div class="container">
<p-table [value]="bars">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Open</th>
      <th>Close</th>
      <th>License</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bar>
    <tr>
      <td>
        <a routerLink = "/bars/{{ bar.name }}">
        {{bar.name}}
        </a>
      </td>
      <td>{{bar.open}}</td>
      <td>{{bar.close}}</td>
      <td>{{bar.license}}</td>
      <td>{{bar.phone}}</td>
      <td>{{bar.address}}</td>
      <td>{{bar.city}}</td>
      <td>{{bar.state}}</td>
    </tr>
  </ng-template>
</p-table>
</div>

<br><br>
